.homepage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem;
  /* gap: 2rem; */
  flex-wrap: wrap;
  background-color: #121212;
  color: white;
}

.homepage-content {
  flex: 1;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.main-title {
  font-size: 3rem;
  color: #f0a500;
}

.tagline {
  font-size: 1.25rem;
  line-height: 1.6;
  color: #ccc;
}

.cta-buttons {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.stats {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.stat-box {
  background-color: #1e1e1e;
  border-radius: 10px;
  padding: 1.5rem;
  text-align: center;
  width: 120px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.stat-box h2 {
  color: #f0a500;
  font-size: 2rem;
}

.stat-box p {
  color: #fff;
  font-size: 1rem;
}

.homepage-image-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}

.homepage-image {
  max-width: 40%;
  height: auto;
  border-radius: 20px;
  transition: transform 0.4s ease;
}

.homepage-image:hover {
  transform: scale(1.05);
}

/* Responsive */
@media screen and (max-width: 768px) {
  .homepage {
    flex-direction: column;
    text-align: center;
  }

  .cta-buttons {
    justify-content: center;
    flex-direction: column;
  }

  .stats {
    justify-content: center;
  }

  .homepage-image {
    width: 90%;
    margin-top: 2rem;
  }
}
