@import url("https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&display=swap");

.education-hero {
    display: flex;
    justify-content: space-between;
}

.ed-h1>h1 {
    margin-right: 20px;
    position: absolute;
    top: 18%;
    right: 3%;
    transform: translateX(-50%);
    font-family: "Herr Von Muellerhoff", cursive;
    font-size: 100px;
    color: #f0a500;
}


.ed-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 1rem;
}

.ed-btn>button {
    width: 500px;
    height: 70px;
    font-size: 2rem;
}

.ed-btn>span {
    color: #f0a500;
    font-size: 1.5rem;
}

.ml-5>h1 {
    color: #f0a500;
    text-align: center;
    font-weight: normal;
    margin-top: 3rem;
}