.navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    color: #05386b;
  }
  
  .nav-menu {
    display: flex;
    align-items: center;
  }
  
  .logo {
    text-align: center; /* Center the logo */
  }
  
  .logo > img {
    max-width: 200px;
    height: auto;
    padding-top: 1rem;
    animation: zoomInOut 3s infinite alternate;
  }
  
  .nav-menu ul {
    display: flex;
    align-items: center;
  }
  
  .linkStyle {
    text-decoration: none;
    color: #05386b;
    height: 30px;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0 12px;
  }
  
  .dropdown select {
    width: 200px;
    padding: 8px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #05386b;
    appearance: none; /* Remove default appearance */
    -webkit-appearance: none; /* Remove default appearance for WebKit (Safari) */
    -moz-appearance: none; /* Remove default appearance for Mozilla (Firefox) */
  }
  li{
    list-style: none;
  }
  .dropdown select:hover {
    border-color: #007bff;
  }
  
  .dropdown select:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .dropdown::after {
    content: "\25BE"; /* Unicode character for down arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none; /* Ensure it doesn't interfere with select */
  }
  