.card-section {
    height: 100vh;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
}

.card {
    background-color: #000;
    border: 1px solid #ebcc02e7;
    height: 300px; /* Fixed height of the card */
    border-radius: 8px;
    width: 350px;
    position: relative; /* Ensure relative positioning for the parent */
    color: #FFF;
    overflow: hidden; /* Hide content that exceeds the dimensions */
}

.card-header {
    padding: 10px;
    border-bottom: 1px solid #cccccc;
}

.card-body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: calc(100% - 80px); /* Set max height to 100% minus header and buttons height */
}

.card-body p {
    margin: 0;
}

.card-body a {
    color: #05386b;
    text-align: center; /* Center align the link */
}

.buttons-container {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between; /* Center align buttons horizontally */
}

.link-button,
.redeem-button {
    width: 100px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content:  center;
    align-items: center; /* Center align content vertically */
    color: #05386b;
    background-color: #EDF5E1;
}

.card-dec {
    height: 200px;
    width: 280px; /* Adjust width to prevent overlapping */
}
.date-container {
    margin-bottom: 1.5rem;
  }