.invite-section {
	height: 50vh;
}

.share {
	height: 10rem;
	width: 25rem;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	border: 1px solid #ebcc028c;
	border-radius: 10px;
	margin: 0 auto;

}

.copybtn {
	height: 4rem;
	width: 8rem;
	background-color: #fff;
	border: none;
	font-size: 2rem;
	border-radius: 1rem;
	transition: all ease-in-out 0.2s;
}

.copybtn:hover {
	color: #000;
	background-color: #F0A500;
}

.justshare {
	color: #fff;
	transition: all ease-in-out 0.2s;
}

.justshare:hover {
	color: #F0A500;
}

.whatsappshare {
	color: #fff;
	transition: all ease-in-out 0.2s;
}

.whatsappshare:hover {
	color: #F0A500;
}

.forge {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.forge-title {
	color: #F0A500;
	font-size: 3rem;
}

@media (max-width:1280px) {
	.forge {
		margin-top: 5rem;
	}
}