.about-section{
    height: 80vh;
}
.about-left {
    height: 650px;
    width: 100%;
    background-color: #000;
    color: #FFF;
    border-radius: 20px;
    padding: 1rem;
    /* margin: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid #ebcc028c;

   
}
.about-right{
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-left>li{
    font-size: 1.2rem;
}
.about-right{
    display: flex;
    gap: 12px 0;
}
.about-right .box1 {
    width: 80%;
    background-color: #000;
    color: #FFF;
    /* margin-bottom: 2rem; */
    border-radius: 12px;
    height: 350px;
    padding: 1rem;
    border: 1px solid #ebcc028c;


    
   
}
.box1>h1{
    font-size: 1.2rem;
    padding: 1rem 2rem;
}

.box1-heading{
    font-size: 1.3rem;
    font-weight: normal;

}

.about-color{
    color: #ffb803;
    font-size: 3rem;
}

.box-list>ol>li{
    color: gray;
    font-size: 1.2rem;
   
    
}