.about-section{
    height: 78vh;
}
.about-left {
    height: 650px;
    width: 100%;
    background-color: #05386b;
    color: #FFF;
    border-radius: 20px;
    padding: 1rem;
    /* margin: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
}
.about-right{
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-left>li{
    font-size: 1.2rem;
}
.about-right{
    display: flex;
    gap: 12px 0;
}
.about-right .box1 {
    width: 80%;
    background-color: #379683;
    color: #FFF;
    /* margin-bottom: 2rem; */
    border-radius: 12px;
    height: 350px;
    padding: 1rem;
    
   
}
.box1>h1{
    font-size: 1.2rem;
    padding: 1rem 2rem;
}

.box1-heading{
    font-size: 1.4rem;
    font-weight: 600;
}