.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    width: 100%;
    max-width: 400px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #000;
    color: #FFF;
    border: 1px solid #ebcc028c;

}

.login-form>h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #F0A500;
}

.submit-button {
    width: 100%;
    margin-top: 30px;
    padding: 15px;
    background: #F0A500;
    color: #000;
}

.submit-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.signup-link {
    display: block;
    text-align: center;
    color: #F0A500;
    text-decoration: none;
    margin-top: 20px;
    font-size: 1.5rem;

}

.signup-link:hover {
    text-decoration: underline;
}

b {
    display: block;
    color: red;
    margin-top: 20px;
}